@page "/events"
@using EventEase.Models
@using EventEase.Components

<h2>Events</h2>

@foreach (var ev in events)
{
    <EventCard Event="ev" />
}

@code{

List<EventModel> events = new()
{
    new EventModel
    {
        Id = 1,
        EventName="Tech Conference",
        EventDate=DateTime.Now.AddDays(10),
        Location="New York"
    },

    new EventModel
    {
        Id = 2,
        EventName="Startup Meetup",
        EventDate=DateTime.Now.AddDays(20),
        Location="London"
    }
};

}
