@page "/register/{Id:int}"

<h3>Register</h3>

<input placeholder="Name" @bind="name" />

<input placeholder="Email" @bind="email" />

<button @onclick="RegisterUser">
Register
</button>

<p>@message</p>

@code{

[Parameter]
public int Id {get;set;}

string name="";
string email="";
string message="";

void RegisterUser()
{
    if(string.IsNullOrWhiteSpace(name) || string.IsNullOrWhiteSpace(email))
    {
        message="Please fill all fields";
        return;
    }

    message="Registration successful";
}

}
